.center-avatar{
    margin: auto;
}

.ion-button-login {
    text-align: center;
}

.validation-messages {
    color: #fffb02;
    text-align: center;
}

.validation-password {
    color: aquamarine;
    text-align: center;
}