<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <ion-avatar class="center-avatar">
      <img src="assets/IMAGENES/user.png">
    </ion-avatar>
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Email" placeholder="email@domain.com" formControlName="email">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="password" type="password" value="password" formControlName="password" >  
      <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-input>
    </ion-item>

      <div class="validation-messages">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="
          (loginForm.get('email')?.hasError(validation.type) &&
          loginForm.get('email')?.dirty) ||
          loginForm.get('email')?.touched
          ">{{validation_messages}}
          </div> 
        </ng-container>
      </div>

      <div class="validation-password">
        <ng-container *ngFor="let validation of validation_password.password">
          <div *ngIf="
          (loginForm.get('password')?.hasError(validation.type) &&
          loginForm.get('password')?.dirty) ||
          loginForm.get('password')?.touched"
          >{{validation_password}}
          </div>
        </ng-container>
      </div>

    <ion-button type="ngSubmit" class=".ion-button-login" color="medium" fill="outline" shape="round" expand="full">
      Login
    </ion-button>
  </form>

    <div class="validation_messages"> {{loginMessage}} </div>
  
  
</ion-content>
