swiper-container {
    width: 100%;
    height: 100%;
  }
  
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .red-title {
    color: rgb(240, 187, 42);
    text-align: center;
  }
  
  .slide-1 {
    
  }
  
  .slide-2 {
  
  }
  
  .slide-3{
  
  }
  
  .slide-4{
  
  }
  
  .button-sale{
    
  }