<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Autodromo Motorsports Park Barranquilla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Autodromo Motorsports Park Barranquilla</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container
  [loop]="true"
  [pagination]="true"
  [slidesPerView]="1"
  [autoplay]="false"
  >
    <swiper-slide>
      <h1 class="red-title">Pre-Inscripciones Valida 1/4 de Milla</h1>
      <p>OCTAVA VALIDA</p>
      <p>COPA CARNAVAL 2024</p>
      <img src="assets/IMAGENES/copacarnaval.jpg"  width="500" height=""/>
      <p>Swipe para continuar</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Categoria Motos</h1>
      <p>INSCRIPCIONES ABIERTAS</p>
      <img src="assets/IMAGENES/Moto1.jpg"  width="600" height="">
    </swiper-slide>
    <swiper-slide>
      <h1>Categoria 5seg a 11seg</h1>
      <img src="assets/IMAGENES/rs3.jpg" width="600" alt="">
    </swiper-slide>
    <swiper-slide>Categoria 12seg a 15seg</swiper-slide>
    <swiper-slide>Categoria 15seg a 20seg</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
  </swiper-container>
</ion-content>

<!-- ** <link rel="icon" type="image/png" href="assets/icon/favicon.png" />]] -->